In [ ]:
import pandas as pd

# Read the data
data = pd.read_csv("/content/breast_cancer_survival.csv")

# Convert 'Patient_Status' to binary values
data['Patient_Status'] = data['Patient_Status'].apply(lambda x: 1 if x == 'Alive' else 0)

# Now 'Alive' is represented as 1 and 'Dead' as 0
print(data['Patient_Status'])

0      1
1      0
2      1
3      1
4      1
      ..
329    1
330    1
331    0
332    1
333    0
Name: Patient_Status, Length: 334, dtype: int64

In [ ]:
import pandas as pd
from roman import fromRoman

# Read the data
data = pd.read_csv("/content/breast_cancer_survival.csv")

# Function to convert Roman numerals to normal numbers
def roman_to_normal(roman_numeral):
    try:
        return fromRoman(roman_numeral)
    except ValueError:
        return roman_numeral

# Convert 'Tumour_Stage' column from Roman numerals to normal numbers
data['Tumour_Stage'] = data['Tumour_Stage'].apply(roman_to_normal)

# Now the 'Tumour_Stage' column should have normal numbers
print(data['Tumour_Stage'])

ModuleNotFoundError: No module named 'roman'

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'data'

# Convert specific columns to numbers
data['Protein1'] = pd.to_numeric(data['Protein1'], errors='coerce')
data['Protein2'] = pd.to_numeric(data['Protein2'], errors='coerce')
data['Protein3'] = pd.to_numeric(data['Protein3'], errors='coerce')
data['Protein4'] = pd.to_numeric(data['Protein4'], errors='coerce')

# Convert 'Tumour_Stage' column to numbers (assuming it contains strings like 'I', 'II', 'III', etc.)
# If it contains Roman numerals, you may first convert them to numbers using the function you provided
# For example:
# data['Tumour_Stage'] = data['Tumour_Stage'].apply(roman_to_normal)

# Convert other columns if needed

# Now the specified columns should contain numeric values
print(data.head())

   Age  Gender  Protein1  Protein2  Protein3  Protein4 Tumour_Stage  \
0   42  FEMALE   0.95256   2.15000  0.007972 -0.048340           II
1   54  FEMALE   0.00000   1.38020 -0.498030 -0.507320           II
2   63  FEMALE  -0.52303   1.76400 -0.370190  0.010815           II
3   78  FEMALE  -0.87618   0.12943 -0.370380  0.132190            I
4   42  FEMALE   0.22611   1.74910 -0.543970 -0.390210           II

                       Histology ER status PR status HER2 status Surgery_type  \
0  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
1  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
2  Infiltrating Ductal Carcinoma  Positive  Positive    Negative   Lumpectomy
3  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
4  Infiltrating Ductal Carcinoma  Positive  Positive    Positive   Lumpectomy

  Date_of_Surgery Date_of_Last_Visit  Patient_Status
0       20-May-18          26-Aug-18               1
1       26-Apr-18          25-Jan-19               0
2       24-Aug-18          08-Apr-20               1
3       16-Nov-18          28-Jul-20               1
4       12-Dec-18          05-Jan-19               1

In [ ]:
import pandas as pd

# Read the data
data = pd.read_csv("/content/breast_cancer_survival.csv")

# Convert specific columns to numeric
numeric_columns = ['Age', 'Protein1', 'Protein2', 'Protein3', 'Protein4']
data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Now, categorical columns need special handling:
# For example, you can use one-hot encoding for 'Gender' column:
data = pd.get_dummies(data, columns=['Gender'], drop_first=True)  # Assuming Male is 1 and Female is 0

# For 'Tumour_Stage', if it's ordinal, you may map it to numerical values:
tumour_stage_mapping = {'I': 1, 'II': 2, 'III': 3}  # Define the mapping
data['Tumour_Stage'] = data['Tumour_Stage'].map(tumour_stage_mapping)

# Convert other categorical columns if needed

# Now, the DataFrame should have numeric values where applicable
print(data.head())

   Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  \
0   42   0.95256   2.15000  0.007972 -0.048340             2
1   54   0.00000   1.38020 -0.498030 -0.507320             2
2   63  -0.52303   1.76400 -0.370190  0.010815             2
3   78  -0.87618   0.12943 -0.370380  0.132190             1
4   42   0.22611   1.74910 -0.543970 -0.390210             2

                       Histology ER status PR status HER2 status Surgery_type  \
0  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
1  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
2  Infiltrating Ductal Carcinoma  Positive  Positive    Negative   Lumpectomy
3  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
4  Infiltrating Ductal Carcinoma  Positive  Positive    Positive   Lumpectomy

  Date_of_Surgery Date_of_Last_Visit Patient_Status  Gender_MALE
0       20-May-18          26-Aug-18          Alive            0
1       26-Apr-18          25-Jan-19           Dead            0
2       24-Aug-18          08-Apr-20          Alive            0
3       16-Nov-18          28-Jul-20          Alive            0
4       12-Dec-18          05-Jan-19          Alive            0

In [ ]:
# Assuming your DataFrame is named 'data'

# Map categories to numerical values
status_mapping = {'Alive': 1, 'Dead': 0}

# Convert 'Patient_Status' column to numerical values
data['Patient_Status'] = data['Patient_Status'].map(status_mapping)

# Now, the 'Patient_Status' column should contain numerical values
print(data.head())

   Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  \
0   42   0.95256   2.15000  0.007972 -0.048340             2
1   54   0.00000   1.38020 -0.498030 -0.507320             2
2   63  -0.52303   1.76400 -0.370190  0.010815             2
3   78  -0.87618   0.12943 -0.370380  0.132190             1
4   42   0.22611   1.74910 -0.543970 -0.390210             2

                       Histology ER status PR status HER2 status Surgery_type  \
0  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
1  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
2  Infiltrating Ductal Carcinoma  Positive  Positive    Negative   Lumpectomy
3  Infiltrating Ductal Carcinoma  Positive  Positive    Negative        Other
4  Infiltrating Ductal Carcinoma  Positive  Positive    Positive   Lumpectomy

  Date_of_Surgery Date_of_Last_Visit  Patient_Status  Gender_MALE
0       20-May-18          26-Aug-18             1.0            0
1       26-Apr-18          25-Jan-19             0.0            0
2       24-Aug-18          08-Apr-20             1.0            0
3       16-Nov-18          28-Jul-20             1.0            0
4       12-Dec-18          05-Jan-19             1.0            0

In [ ]:
data=data.drop('Histology',axis=1)

In [ ]:
print(data)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage ER status  \
0     42  0.952560   2.15000  0.007972 -0.048340             2  Positive
1     54  0.000000   1.38020 -0.498030 -0.507320             2  Positive
2     63 -0.523030   1.76400 -0.370190  0.010815             2  Positive
3     78 -0.876180   0.12943 -0.370380  0.132190             1  Positive
4     42  0.226110   1.74910 -0.543970 -0.390210             2  Positive
..   ...       ...       ...       ...       ...           ...       ...
329   59  0.024598   1.40050  0.024751  0.280320             2  Positive
330   41  0.100120  -0.46547  0.472370 -0.523870             1  Positive
331   54  0.753820   1.64250 -0.332850  0.857860             2  Positive
332   74  0.972510   1.42680 -0.366570 -0.107820             2  Positive
333   66  0.286380   1.39980  0.318830  0.836050             2  Positive

    PR status HER2 status                 Surgery_type Date_of_Surgery  \
0    Positive    Negative                        Other       20-May-18
1    Positive    Negative                        Other       26-Apr-18
2    Positive    Negative                   Lumpectomy       24-Aug-18
3    Positive    Negative                        Other       16-Nov-18
4    Positive    Positive                   Lumpectomy       12-Dec-18
..        ...         ...                          ...             ...
329  Positive    Positive                   Lumpectomy       15-Jan-19
330  Positive    Positive  Modified Radical Mastectomy       25-Jul-18
331  Positive    Negative            Simple Mastectomy       26-Mar-19
332  Positive    Negative                   Lumpectomy       26-Nov-18
333  Positive    Negative  Modified Radical Mastectomy       04-Feb-19

    Date_of_Last_Visit  Patient_Status  Gender_MALE
0            26-Aug-18             1.0            0
1            25-Jan-19             0.0            0
2            08-Apr-20             1.0            0
3            28-Jul-20             1.0            0
4            05-Jan-19             1.0            0
..                 ...             ...          ...
329          27-Mar-20             1.0            0
330          23-Apr-19             1.0            0
331          11-Oct-19             0.0            0
332          05-Dec-18             1.0            0
333          10-Aug-19             0.0            0

[334 rows x 14 columns]

In [ ]:
data=data.drop('PR status',axis=1)

In [ ]:
print(data)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage ER status  \
0     42  0.952560   2.15000  0.007972 -0.048340             2  Positive
1     54  0.000000   1.38020 -0.498030 -0.507320             2  Positive
2     63 -0.523030   1.76400 -0.370190  0.010815             2  Positive
3     78 -0.876180   0.12943 -0.370380  0.132190             1  Positive
4     42  0.226110   1.74910 -0.543970 -0.390210             2  Positive
..   ...       ...       ...       ...       ...           ...       ...
329   59  0.024598   1.40050  0.024751  0.280320             2  Positive
330   41  0.100120  -0.46547  0.472370 -0.523870             1  Positive
331   54  0.753820   1.64250 -0.332850  0.857860             2  Positive
332   74  0.972510   1.42680 -0.366570 -0.107820             2  Positive
333   66  0.286380   1.39980  0.318830  0.836050             2  Positive

    HER2 status                 Surgery_type Date_of_Surgery  \
0      Negative                        Other       20-May-18
1      Negative                        Other       26-Apr-18
2      Negative                   Lumpectomy       24-Aug-18
3      Negative                        Other       16-Nov-18
4      Positive                   Lumpectomy       12-Dec-18
..          ...                          ...             ...
329    Positive                   Lumpectomy       15-Jan-19
330    Positive  Modified Radical Mastectomy       25-Jul-18
331    Negative            Simple Mastectomy       26-Mar-19
332    Negative                   Lumpectomy       26-Nov-18
333    Negative  Modified Radical Mastectomy       04-Feb-19

    Date_of_Last_Visit  Patient_Status  Gender_MALE
0            26-Aug-18             1.0            0
1            25-Jan-19             0.0            0
2            08-Apr-20             1.0            0
3            28-Jul-20             1.0            0
4            05-Jan-19             1.0            0
..                 ...             ...          ...
329          27-Mar-20             1.0            0
330          23-Apr-19             1.0            0
331          11-Oct-19             0.0            0
332          05-Dec-18             1.0            0
333          10-Aug-19             0.0            0

[334 rows x 13 columns]

In [ ]:
data=data.drop('HER2 status',axis=1)

In [ ]:
print(data)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage ER status  \
0     42  0.952560   2.15000  0.007972 -0.048340             2  Positive
1     54  0.000000   1.38020 -0.498030 -0.507320             2  Positive
2     63 -0.523030   1.76400 -0.370190  0.010815             2  Positive
3     78 -0.876180   0.12943 -0.370380  0.132190             1  Positive
4     42  0.226110   1.74910 -0.543970 -0.390210             2  Positive
..   ...       ...       ...       ...       ...           ...       ...
329   59  0.024598   1.40050  0.024751  0.280320             2  Positive
330   41  0.100120  -0.46547  0.472370 -0.523870             1  Positive
331   54  0.753820   1.64250 -0.332850  0.857860             2  Positive
332   74  0.972510   1.42680 -0.366570 -0.107820             2  Positive
333   66  0.286380   1.39980  0.318830  0.836050             2  Positive

                    Surgery_type Date_of_Surgery Date_of_Last_Visit  \
0                          Other       20-May-18          26-Aug-18
1                          Other       26-Apr-18          25-Jan-19
2                     Lumpectomy       24-Aug-18          08-Apr-20
3                          Other       16-Nov-18          28-Jul-20
4                     Lumpectomy       12-Dec-18          05-Jan-19
..                           ...             ...                ...
329                   Lumpectomy       15-Jan-19          27-Mar-20
330  Modified Radical Mastectomy       25-Jul-18          23-Apr-19
331            Simple Mastectomy       26-Mar-19          11-Oct-19
332                   Lumpectomy       26-Nov-18          05-Dec-18
333  Modified Radical Mastectomy       04-Feb-19          10-Aug-19

     Patient_Status  Gender_MALE
0               1.0            0
1               0.0            0
2               1.0            0
3               1.0            0
4               1.0            0
..              ...          ...
329             1.0            0
330             1.0            0
331             0.0            0
332             1.0            0
333             0.0            0

[334 rows x 12 columns]

In [ ]:
print(data)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  \
0     42  0.952560   2.15000  0.007972 -0.048340             2
1     54  0.000000   1.38020 -0.498030 -0.507320             2
2     63 -0.523030   1.76400 -0.370190  0.010815             2
3     78 -0.876180   0.12943 -0.370380  0.132190             1
4     42  0.226110   1.74910 -0.543970 -0.390210             2
..   ...       ...       ...       ...       ...           ...
329   59  0.024598   1.40050  0.024751  0.280320             2
330   41  0.100120  -0.46547  0.472370 -0.523870             1
331   54  0.753820   1.64250 -0.332850  0.857860             2
332   74  0.972510   1.42680 -0.366570 -0.107820             2
333   66  0.286380   1.39980  0.318830  0.836050             2

                    Surgery_type Date_of_Surgery Date_of_Last_Visit  \
0                          Other       20-May-18          26-Aug-18
1                          Other       26-Apr-18          25-Jan-19
2                     Lumpectomy       24-Aug-18          08-Apr-20
3                          Other       16-Nov-18          28-Jul-20
4                     Lumpectomy       12-Dec-18          05-Jan-19
..                           ...             ...                ...
329                   Lumpectomy       15-Jan-19          27-Mar-20
330  Modified Radical Mastectomy       25-Jul-18          23-Apr-19
331            Simple Mastectomy       26-Mar-19          11-Oct-19
332                   Lumpectomy       26-Nov-18          05-Dec-18
333  Modified Radical Mastectomy       04-Feb-19          10-Aug-19

     Patient_Status  Gender_MALE
0               1.0            0
1               0.0            0
2               1.0            0
3               1.0            0
4               1.0            0
..              ...          ...
329             1.0            0
330             1.0            0
331             0.0            0
332             1.0            0
333             0.0            0

[334 rows x 11 columns]

In [ ]:
data=data.drop('Surgery_type',axis=1)

In [ ]:
print(data)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  \
0     42  0.952560   2.15000  0.007972 -0.048340             2
1     54  0.000000   1.38020 -0.498030 -0.507320             2
2     63 -0.523030   1.76400 -0.370190  0.010815             2
3     78 -0.876180   0.12943 -0.370380  0.132190             1
4     42  0.226110   1.74910 -0.543970 -0.390210             2
..   ...       ...       ...       ...       ...           ...
329   59  0.024598   1.40050  0.024751  0.280320             2
330   41  0.100120  -0.46547  0.472370 -0.523870             1
331   54  0.753820   1.64250 -0.332850  0.857860             2
332   74  0.972510   1.42680 -0.366570 -0.107820             2
333   66  0.286380   1.39980  0.318830  0.836050             2

    Date_of_Surgery Date_of_Last_Visit  Patient_Status  Gender_MALE
0         20-May-18          26-Aug-18             1.0            0
1         26-Apr-18          25-Jan-19             0.0            0
2         24-Aug-18          08-Apr-20             1.0            0
3         16-Nov-18          28-Jul-20             1.0            0
4         12-Dec-18          05-Jan-19             1.0            0
..              ...                ...             ...          ...
329       15-Jan-19          27-Mar-20             1.0            0
330       25-Jul-18          23-Apr-19             1.0            0
331       26-Mar-19          11-Oct-19             0.0            0
332       26-Nov-18          05-Dec-18             1.0            0
333       04-Feb-19          10-Aug-19             0.0            0

[334 rows x 10 columns]

In [ ]:
data=data.drop('Date_of_Surgery',axis=1)

In [ ]:
print(data)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  \
0     42  0.952560   2.15000  0.007972 -0.048340             2
1     54  0.000000   1.38020 -0.498030 -0.507320             2
2     63 -0.523030   1.76400 -0.370190  0.010815             2
3     78 -0.876180   0.12943 -0.370380  0.132190             1
4     42  0.226110   1.74910 -0.543970 -0.390210             2
..   ...       ...       ...       ...       ...           ...
329   59  0.024598   1.40050  0.024751  0.280320             2
330   41  0.100120  -0.46547  0.472370 -0.523870             1
331   54  0.753820   1.64250 -0.332850  0.857860             2
332   74  0.972510   1.42680 -0.366570 -0.107820             2
333   66  0.286380   1.39980  0.318830  0.836050             2

    Date_of_Last_Visit  Patient_Status  Gender_MALE
0            26-Aug-18             1.0            0
1            25-Jan-19             0.0            0
2            08-Apr-20             1.0            0
3            28-Jul-20             1.0            0
4            05-Jan-19             1.0            0
..                 ...             ...          ...
329          27-Mar-20             1.0            0
330          23-Apr-19             1.0            0
331          11-Oct-19             0.0            0
332          05-Dec-18             1.0            0
333          10-Aug-19             0.0            0

[334 rows x 9 columns]

In [ ]:
data=data.drop('Date_of_Last_Visit',axis=1)

In [ ]:
print(data)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  \
0     42  0.952560   2.15000  0.007972 -0.048340             2
1     54  0.000000   1.38020 -0.498030 -0.507320             2
2     63 -0.523030   1.76400 -0.370190  0.010815             2
3     78 -0.876180   0.12943 -0.370380  0.132190             1
4     42  0.226110   1.74910 -0.543970 -0.390210             2
..   ...       ...       ...       ...       ...           ...
329   59  0.024598   1.40050  0.024751  0.280320             2
330   41  0.100120  -0.46547  0.472370 -0.523870             1
331   54  0.753820   1.64250 -0.332850  0.857860             2
332   74  0.972510   1.42680 -0.366570 -0.107820             2
333   66  0.286380   1.39980  0.318830  0.836050             2

     Patient_Status  Gender_MALE
0               1.0            0
1               0.0            0
2               1.0            0
3               1.0            0
4               1.0            0
..              ...          ...
329             1.0            0
330             1.0            0
331             0.0            0
332             1.0            0
333             0.0            0

[334 rows x 8 columns]

In [ ]:
print(data)
data=data.fillna(0)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  \
0     42  0.952560   2.15000  0.007972 -0.048340             2
1     54  0.000000   1.38020 -0.498030 -0.507320             2
2     63 -0.523030   1.76400 -0.370190  0.010815             2
3     78 -0.876180   0.12943 -0.370380  0.132190             1
4     42  0.226110   1.74910 -0.543970 -0.390210             2
..   ...       ...       ...       ...       ...           ...
329   59  0.024598   1.40050  0.024751  0.280320             2
330   41  0.100120  -0.46547  0.472370 -0.523870             1
331   54  0.753820   1.64250 -0.332850  0.857860             2
332   74  0.972510   1.42680 -0.366570 -0.107820             2
333   66  0.286380   1.39980  0.318830  0.836050             2

     Patient_Status  Gender_MALE
0               1.0            0
1               0.0            0
2               1.0            0
3               1.0            0
4               1.0            0
..              ...          ...
329             1.0            0
330             1.0            0
331             0.0            0
332             1.0            0
333             0.0            0

[334 rows x 8 columns]

In [ ]:
y=data['Patient_Status']
x=data.drop('Patient_Status',axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=32)

In [ ]:
print(x_train.shape)

(267, 7)

In [ ]:
print(x_test.shape)

(67, 7)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
model=dt.fit(x_train,y_train)

In [ ]:
yp=model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
print(accuracy_score(y_test,yp))

0.47761194029850745

In [ ]:
print(confusion_matrix(y_test,yp))

[[ 2 20]
 [15 30]]